@model Kullanici
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container top_size">
    <div class="row">
        <div class="col-sm-offset-2 col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-2 col-xs-4 ">
            <a href="" id="backgroundandposition"><img src="~/images/login_ccninsaat.PNG" /></a>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h3 class="h3_bold h3_position x_hidden">
                İHALE PLATFORMU
            </h3>
        </div>

    </div>
    <div class="row top_size">
        <div class="col-sm-offset-2 col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <p class="p_fonttype">Lütfen ihale yetkilisi tarafından verilen kullanıcı adı ve şifrenizi giriniz.</p>
        </div>
    </div>

    <div class="row top_sizec">
        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1  col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <p class="p_fonttype p_bold p_right p_position">KullanıcıAdı:</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input asp-for="LoginName" class="form-control textbox_size" />
        </div>
    </div>

    <div class="row top_sizec">
        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-6">
            <button type="submit" class="btn btn-primary">Öğren</button>
        </div>
    </div>

</div>