@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Views/Shared/_Layout_Second.cshtml";
}
<div class="container top_size ">
    <div class="row">
        <div class="col-sm-offset-2 col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-2 col-xs-4 ">
            <a href="" id="backgroundandposition"><img src="~/images/login_ccninsaat.PNG" /></a>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h3 class="h3_bold h3_position x_hidden">
                İHALE PLATFORMU
            </h3>
        </div>

    </div>
</div>
<br />

<div class="row top_sizec">
    <div class="col-sm-offset-2 col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <h4 class="h4_bold">İhalemize göstermiş olduğunuz ilgiye teşekkür ederiz. </h4>
        <h4 class="top_sizec">
            Göndermiş olduğunuz sorular, ihale yetkililerine otamatik olarak iletilmiştir.
            Sorularınız yetkili onayıyla beraber sayfada yayınlanacaktır.
        </h4>
    </div>

</div>

<div class="row top_sizey">
    <div class="col-sm-offset-4 col-lg-offset-4 col-md-offset-4">
        <a class="a_size" asp-controller="Home" asp-action="Qusend">Yeni Soru Göndermek İçin Tıklayınız</a>
    </div>
</div>